body {
    background-color: #020304;
    font-family: Arial, Helvetica, sans-serif;

}

.title {
    margin-top: 0.5rem; /* or 0 if you want it tighter */
    color: #f1f1f1;
    padding: 1.2rem;
    padding-bottom: 0.2rem;
}

.subtitle{
    color: #f1f1f1;
    padding: 1.2rem;
    padding-bottom: .2rem;
}

.paragraph{
    color: #f1f1f1;
    padding: 1.2rem;
    padding-bottom: 1.2rem;
}

.images {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    float: left;
}


