* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  #menu.show {
    max-height: 500px; /* lo suficiente para mostrar todo el menú */
  }

body {
    background-color: #020304;
}

.bg-global {
    background-color: #151c23;
}

.bg-menu {
    background-color: #080B0E;
}

.bg-nav {
    background-color: #2C3238;
}

.border-menu-nav {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.contenedor-scroll::-webkit-scrollbar {
    display: none;
  }

.cartelera-poster {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
}
.contenedor-scroll {
    white-space: nowrap;
}

.w-contenedor-poster {
    width: 175px;
}

.title {
    font-weight: 600;
    font-size: 1.2rem;
    color: #f1f1f1;
    padding: 1.2rem;
    padding-bottom: .2rem;
}

.fondo-pelicula {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-out;
  }

  .fondo-pelicula:hover, .fondo-pelicula:focus {
    background-color: rgba(0, 0, 0, 0.2);
  }

.btn-comprar {
    background-color: #d4af37;
    display: block;
    text-decoration: none;
    color: #1c1c1c;
    border-radius: 4px;
    font-size: 13px;
    padding: .2rem .7rem;
}

.btn-comprar:hover, .btn-comprar:focus {
    color:#fff;
}

.peliculas {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.contenedor-pelicula {
    background-color: #000000;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.2);
    width: 175px;
}
.contenedor-pelicula img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.btn-pelicula {
    padding: .3rem 1rem;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #1c1c1c;
    background-color: #d4af37;
}
@media (max-width: 412px) {
    .contenedor-pelicula {
        width: 160px;
    }
    .peliculas {
        gap: 1rem 0;
    }
}