

.row + .row {
    margin-top: 1.5rem;
}

.col-md-4, .col-md-3, .col-sm-4, .col-sm-6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.card-text {
    color: #f2f3f6;
    font-size: 16px;
}

.card-title {
    color: #eaeae8;
    font-size: 22px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #141A25;
    border: 1px solid #706f6f;
    padding: 0.75rem; /* Add some padding */
    font-size: 0.9rem; /* Slightly smaller text inside */
}

.card-img-bottom {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.card-img-top {
  aspect-ratio: 468 / 612;
  object-fit: cover;
}

.carousel-image {
    width: 100%;
    height: 275px; /* Adjust this to make it "not so tall" */
    object-fit: cover;
}

#foodCarousel {
    margin-bottom: 2rem; /* Optional: add spacing below banner */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    padding: 1rem;
    border-radius: 10px;
}

.carousel-caption h5,
.carousel-caption p {
    color: #fff;
    text-shadow: 0 0 5px #000;
}