:root {
    --bs-nav-bg: #0E0F17;
    --bs-main-bg: #141A25;
    --bs-disabled-text: #858585;
}

body {
    background-color: var(--bs-main-bg);
    color: white;
}

.movie-card {
    transition: transform 0.2s;
    height: 100%;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.movie-poster {
  width: 100%;
  object-fit: cover;
  background-size: cover;
  border-radius: 5px;
  aspect-ratio: 2/3;
}

@media (max-width: 768px) {
    .movie-poster {
        aspect-ratio: 16/9;
    }
}


.featured-movie {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.movie-image {
    width: 30%; 
    height: auto;
    border-radius: 10px;
}

.featured-movie {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.movie-image img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    max-width: 400px; 
}

@media (max-width: 768px) {
    .featured-movie {
        flex-direction: column;
        align-items: stretch;
    }

    .movie-image {
        width: 100%;
    }
}