:root {
    --bs-nav-bg: #0E0F17;
    --bs-main-bg: #141A25;
    --bs-disabled-text: #858585;
}

body {
    background-color: var(--bs-main-bg);
    color: white;
}

.navbar {
    background-color: var(--bs-nav-bg);
}

.movie-card {
    transition: transform 0.2s;
    height: 100%;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.movie-poster {
    background-size: cover;
    border-radius: 5px;
    aspect-ratio: 2/3; 
}

.btn-custom {
    background-color: #E50914;
    border-color: #E50914;
}

.btn-custom:hover {
    background-color: #b80711;
    border-color: #b80711;
}

@media (max-width: 768px) {
    .movie-poster {
        aspect-ratio: 16/9;
    }
}


.featured-movie {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.movie-image {
    width: 30%; 
    height: auto;
    background: url('https://www.avcesar.com/source/actualites/00/00/6E/55/main_le-teaser-de-la-revanche-du-jedi_0830328.webp') no-repeat center center/cover;
    border-radius: 10px;
}

.featured-movie {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.movie-image img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    max-width: 400px; 
}

@media (max-width: 768px) {
    .featured-movie {
        flex-direction: column;
        align-items: stretch;
    }

    .movie-image {
        width: 100%;
    }
}